APP_HOST=64.225.59.107
PUBLIC_API_URL=http://64.225.59.107
CORS_ORIGINS=64.225.59.107

POSTGRES_PASSWORD=troque-esta-senha
RAILS_MASTER_KEY=cole-aqui-o-conteudo-de-backend-config-master-key

RAILS_ASSUME_SSL=false
RAILS_FORCE_SSL=false
