APP_HOST=64.225.59.107
PUBLIC_API_URL=http://64.225.59.107
CORS_ORIGINS=64.225.59.107

POSTGRES_PASSWORD=ZAbgbZeVAK+!5!
RAILS_MASTER_KEY=UrRF5K8cXp4LEBIFhRm6thAveIEPiz0RHMd1KYxgkJ0=
RAILS_ASSUME_SSL=false
RAILS_FORCE_SSL=false
